{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Group 12 Contacts App</title>
  <link rel="stylesheet" href="{{root}}assets/css/app.css">
</head>

<body>
  <div class="reveal" id="errorModal" data-reveal>
    <h1>WHAT DID YOU DO?!?!? OH GOD!!!!!!</h1>
    <div id="errorDiv"></div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="top-bar" id="responsive-menu">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text" role="menuitem">Group 12 Pwnz</li>
        <li id="createContactContainer" style="display: none;"><button id="createContactButton" type="button" class="button">Create
            Contact</button></li>
        <ul id="searchContainer" class="menu" style="display: none;">
          <li><input type="search" placeholder="Search" id="searchInput"></li>
          <li><button type="button" class="button" id="searchButton">Search</button></li>
        </ul>
      </ul>
      <!--
      <ul class="dropdown menu" data-disable-hover="true" data-click-open="true" data-dropdown-menu="44r89u-dropdown-menu"
        role="menubar">
        <li class="has-submenu is-dropdown-submenu-parent opens-right" role="menuitem" aria-haspopup="true" aria-label="One">
          <a href="#0">One</a>
          <ul class="submenu menu vertical is-dropdown-submenu first-sub" data-submenu="" role="menubar">
            <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="#0">One</a></li>
            <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="#0">Two</a></li>
            <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="#0">Three</a></li>
          </ul>
        </li>
        <li role="menuitem"><a href="#0">Two</a></li>
    </ul>
-->
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><button id="signupButton" type="button" class="button" style="display:none;">Sign Up</button></li>
        <li><button id="loginButton" type="button" class="button" style="display:none;">Log In</button></li>
        <li><button id="logoutButton" type="button" class="button" style="display:none;">Log Out</button></li>
      </ul>
    </div>
  </div>


  {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
  {{> body}}

  <script src="{{root}}assets/js/app.js"></script>
</body>

</html>